language: node_js
cache:
  directories:
    - node_modules
notifications:
  email: 
    recipients:
      - dwalter@barlingarts.com
node_js:
  - '7'
before_script:
  - npm prune
script:
  - npm test
  - npm run prod
deploy:
  provider: npm
  email: dwalter@barlingarts.com
  api_key: NPM_TOKEN
  skip_cleanup: true
branches:
  only:
    - master
